<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/message.css"/>
		
	</head>
	<body>
		<div id="indexdiv">
	<div class="showMsg">
		<ul class="list">
		
			<li class="msg"
			       
			 v-for="(value,key) in list":key="key"
			  
			>  

				<img class="pic" v-bind:src="value.imgSrc"/>
				<p class="msgCont"
				
				 >{{ value.textOne }}</p>
				<div class="date">
					<p>{{ value.date }}</p>
					                       
					<a class="delete-a-one" @click="handleDelete(key)" href="#">{{ value.delButton}}</a>
				</div>
			</li>
			
		</ul>
		<button class="btn"
		    @click="msgblckyes"
		>发表留言</button>
	
		
		

		<div class="msg_blck"
		 v-if="flag"
		   >
			<div class="msg_cont">
				<a class="closeBtn" href="#"
				 @click="closeanot"
				>X</a>
				
	
				<textarea rows="20" cols="30" class="tar ea"
				v-model="vuetextareav"
				></textarea>
				<button class="confirmBtn"
				 @click="confirmbtntext"
				
				>确认发布</button>
			</div>

		</div>
	</div>
</div>
	</body>
	<script type="text/javascript" src="js/vue.js" ></script>
	<script type="text/javascript" src="js/index.js" ></script>
</html>
